<div class="index-body">
    <header class="home-image">
        <div><a href="/"><h1 class="home-logo">ClimbSpot.</h1></a></div>
    </header>
    {{>newNavBar}}

    <section>

        <h1 class="chapter-title">Blog<br /></h1>

        <div class="article-box">
            {{#each articles}}
            <h4>{{this.date}}</h4>
            <h1>{{this.title}}</h1>
            <h4>{{this.text}}</h4>
            <h5>{{this.author}}</h5>
            <img src="{{this.image}}" style="width: 75%; margin-bottom: 50px;">
            {{/each}}
        </div>

    </section>