<div class="create-image">
    <div class="white-frame">
        <div>
            {{#each spots}}
            <p>Name : {{this.name}}</p>
            <p>Ref : {{this.ref}}</p>
            <p>Adress :{{this.adress}}</p>
            <p>Lattitude : {{this.latitude}}</p>
            <p>Longitude : {{this.longitude}}</p>
            <p>Description : {{this.description}}</p>
            <p>Category:{{this.category}}</p>
            <p class="edit-image"><img src="{{this.image}}" style="width: 75%;"></p>
            <a href="/spots/edit/{{this._id}}"><span style="text-decoration: underline;">Edit</span></a>/ <a
                class="link" href="/spots/delete/{{this._id}}"><span
                    style="text-decoration: underline;">Delete</span></a></td>
            <hr>
            {{/each}}

        </div>
    </div>
</div>