<table class="table">
    <thead>
        <th>Name </th>
        <th>Ref</th>
        <th>Adress</th>
        <th>Lattitude</th>
        <th>Longitude</th>
        <th>Image</th>
        <th>Description</th>
        <th>Category</th>
    </thead>

    <tbody>
        {{#each spots}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.ref}}</td>
            <td>{{this.adress}}</td>
            <td>{{this.latitude}}</td>
            <td>{{this.longitude}}</td>
            <td><img src="{{this.image}}" /></td>
            <td>{{this.description}}</td>
            <td>{{this.category}}</td>
            <td> <a href="/spots/edit/{{this._id}}">Edit</a>/ <a class="link" r
                    href="/spots/delete/{{this._id}}">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>